.headerContainer {
    max-height: 200px;
    min-height: 100px;
    max-width: 800px;

    margin: 0 auto;
    margin-top: 20px;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer ul {
    display: flex;
    list-style: none;
}

.menuContainer ul li {
    padding: 6px;
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.menuContainer ul li a {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.logout {
    cursor: pointer;
}

.socialMediaContainer {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 60px;
}

.socialMediaIcon {
    padding: 5px;
    transition: 200ms;
}

.socialMediaIcon:hover {
    font-size: 2.1rem;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titleContainer h1 {
    margin-right: 20px;
    font-family: 'League Ghotic', sans-serif;
    font-size: 2.4rem;
    height: 30px;
}

.titleContainer button {
    outline: none;
    border-radius: 3px;
    background-color: red;
    border: none;
    width: 100px;
    height: 30px;
    padding: 5px 15px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    transition: 500ms;
}

.titleContainer button:hover {
    cursor: pointer;
    background-color: #000000;
}

.iconMenuAuthenticated {
    font-size: 1.6rem;
    cursor: pointer;
}

.iconMenuMobile {
    display: none;
}

.menuMobileSection {
    display: none;
}

/* Responsive */

@media (max-width: 768px) {
    .headerContainer {
        padding: 0;
        justify-content: space-around;
    }

    .titleContainer h1 {
        margin-right: 0;
    }

    .menuContainer {
        display: none;
    }

    .socialMediaContainer {
        padding: 10px;
        margin-right: 0;
    }

    .socialMediaIcon {
        padding: 10px;
    }

    .iconMenuMobile {
        font-size: 1.4rem;
        display: block;
    }

    .menuMobileSection {
        justify-content: center;
    }

    .menuMobileDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuMobileDiv ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menuMobileDiv ul li {
        padding: 6px;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .menuMobileDiv ul li a {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .menuMobileDiv ul .closeMenuMobile {
        font-size: 1.4rem;
        margin-top: 10px;
    }
}

@media (max-width: 425px) {
    .headerContainer {
        align-items: center;
        flex-direction: column;
    }

    .iconMenuMobile {
        margin-top: 10px;
    }
}