.arrowLeft {
    font-size: 1.6rem;
    padding: 10px;
    background-color: rgba(204, 204, 204, 0.1);
    transition: 500ms;
}

.icon:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
    background-color: rgba(204, 204, 204, 0.1);
}

.loginSection h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 4rem;
}

.formLoginSection {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.formLoginSection form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.iconEye, .iconEyeSlash {
    position: absolute;
    margin-left: 310px;
    margin-top: 144px;
    font-size: 1.6rem;
}

.iconEye:hover, .iconEyeSlash:hover {
    cursor: pointer;
}

.iconEyeSlash {
    display: none;
}

.formLoginSection .firstInput, .secondInput {
    margin: 0 auto;
    margin-bottom: 15px;

    width: 80%;
    height: 10px;
    padding: 15px;

    border: none;
    border-bottom: 1px solid #000000;
    
    transition: all 1s;
}

.firstInput:focus, .secondInput:focus {
    outline: none;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid #cccccc;
}

.formLoginSection .firstInput {
    margin-top: 90px;
}

.formLoginSection .inputSubmit {
    width: 80%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 8px;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #FF5733;

    transition: all 1s;
}

.formLoginSection .inputSubmit:hover {
    color: #FF5733;
    background-color: #ffffff;
    cursor: pointer;
}

.registerArea {
    margin: 0 auto;
    margin-top: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.backgroundImage {
    background-image: url('../../../../public/images/desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
}
